
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Yair Ben David</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/yair371.jpeg' %}" >
					<hr>
					<h4>Hi I'm Yair!</h4>
					<p></p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Executive Profile</h4>
					<hr>
					<p>Passionate about tech and solving problems, looking for an opening position in the Tech world.</p>

					<p>Self-learner of Python and Django, understanding of OOP and server-side, High work Ethics and Self motivated.</p>

					<p></p>

					<ul class="social-links">
						<a href="https://github.com/Yair-BD"><li><img class="social" src="{% static 'images/github3.png' %}"></li></a>
						<a></a>
                        <a href="https://www.linkedin.com/in/yair-bd/"><li><img class="social" src="{% static 'images/linkedin.png' %}"></li></a>
							<a></a>
                        <a href="https://wa.me/972545458459"><li><img class="social" src="{% static 'images/whatsapp2.png' %}"></li></a>
					
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p><a href="https://github.com/Yair-BD/Tamaguchi">Tamaguchi</a> Raise your pet game based Python's OOP.</p>
					<p><a href="https://github.com/Yair-BD/MessageAPI">Messaging System</a> Rest API backend system that is responsible for handling messages between users.</p>
					<p><a href="https://github.com/Yair-BD/ToDo">To Do</a> Web application that tracks your missions and goals to achieve them, Developed using Django platform.</p>

                    </div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django CBV and FBV, HTML/CSS, building web applications and APIs deploy them on servers like AWS PythonAnywhere and more.</p>
                    <p>Deep understanding Python's principles and Django's structure.</p>
                    <p>In conclusion I know to learn fast, hard and apply my knowledge. I'm looking for my first real opportunity to prove my worth  </p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
                    <P><a href="https://courses.campus.gov.il/certificates/6ed549cd06c14841bfd484c4c65eac60">Self.py</a> basics of Python.</p>
                    <P>Next.py advanced principles in Python</p>
                    <P><a href="https://courses.campus.gov.il/certificates/75288f0a17524af4b77bab40052320be">How To Web</a> how the web works.</p>
                    <P><a href="https://youtube.com/c/DennisIvy">Django</a> Dennis lvy's courses and more.</p>
                    <p>Projects From Scratch & Reverse Engineer</p>
                </div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Education & Millitary</h5>
				<hr>
				<p>Graduated 2017	High School Diploma – Major Math & Physics</p>
                <p>2018-2021 Squad Leader - Kfir Brigade, IDF. (Active reserve) </p>
				<p>B.Sc. in Computer Science Oct 2021 - present. Open University, Ra'anana, Israel</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>